select{
    background-color: #EB7D2D !important;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
    font-size: .8rem;
    border: none;
    padding: 8px;
}
.ancho{
    width: 100px;
}

.pagination-container {
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
    padding: 0 10px;  /* Ajustar el padding para prevenir el desbordamiento */
    white-space: nowrap; /* Evitar que los elementos se rompan a la siguiente línea */
    font-size: 14px !important;
  }

  .pagination-container .page-item {
    max-width: 26px; /* Define un ancho mínimo para cada elemento de paginación */
    
    padding: 0;
    margin: 0;
  }

  .fuente{
    font-size: 14px !important;
  }
  
.clear{
    background-color: white;
    color: black;
    font-size: .8rem;
    width: 45px;
    padding: 0;
    border: none;
    padding: 8px;

}
.clear:hover, .clearSubmit:hover{
    background-color: #c70e5b;
    color: white;
}

.search{
    width: 170px;
    padding: 5px;
    padding: 0;
    margin-right: 7px;
}

.clearSubmit{
    background-color: white;
    color: black;
    font-size: .8rem;
    width: 60px;
    padding: 0;
    border: none;
    padding: 8px;
}
@media (min-width: 768px) {
    select{
        font-size: 1rem;
        padding: .5rem;
    }
    .ancho{
        width: 50%;
    }

    .clear, .clearSubmit{
        font-size: 1rem;
        padding: .5rem 1rem;
        width: 80px;
    }
    .search{
        width: 250px;
        padding: 5px;

    }
    .pagination-container .page-item {
        max-width: 50px; /* Define un ancho mínimo para cada elemento de paginación */
        /* padding: 0 5px; Ajusta el padding para reducir el espacio */
      }
}

